#section1 {
    margin: 5% 4%;
    display: flex;
    /* border: 2px solid black; */
}

.section1Text {
    max-width: 50%;
}

#s1THead {
    margin: 5%;
    font-size: 30px;
    font-weight: bold;
    color: grey;
}

#s1TBody {
    margin: 5%;
    font-size: 18px;
    line-height: 1.8;
}

.section1Video {
    max-width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 2px solid black; */
}